/* .node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
} */

.arrow{
	stroke-width:1.5;
	stroke:#000;
	/* stroke-dasharray:5, 5; */
}

.curve{
    stroke-width:1.5;
}
/* #arrow{
	stroke-width:1;
	stroke-dasharray:0;
} */
